.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $black;   
    color: $white;
    &__image {
        @include img-ratio;
        fill-rule: $white;
    }

}