.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: $white;   
    @include shadow;
    padding: 20px 30px;
    position:relative;
    z-index:1;
    
    
    &__logo {
        float: right;
        width: 50%;
        margin-left: 80px; 

    }
    &__retour{

        float: left;
        top:20px;
        left:20px;
       } 
       i{
           color: black;
           font-size: 20px;
       }
    }

    @media screen and (min-width: 992px)
    {
        .header{
            &__logo{
            width: 200px;
            margin: auto;
            }
        }
    }