
.loader2 {
  position:fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: 2;
  background-color: rgba(65, 64, 64, 0.98);
  animation:fadeout 2000ms 2000ms;
  animation-fill-mode: forwards;
 
  &__oh{
    opacity: 0;
    color: #fff;
    font-size: 40px;
    font-family: 'Shrikhand', cursive; 
    animation: loader2 2s ease-in-out ;
    animation-fill-mode: forwards;
  }
  &__my{
    opacity: 0;
    color: #fff;
    font-size: 40px;
    font-family: 'Shrikhand', cursive; 
    animation: loader3 1s ease-in-out ;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }
  &__food{
    opacity: 0;
    color: #fff;
    font-size: 40px;
    font-family: 'Shrikhand', cursive; 
    animation: loader4 1s ease-in-out ;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }


}
