.background-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    object-fit: contain;


}

.container-menu {
    display: flex;
    position: relative;
    align-items: center;
    top: -70px;
    z-index: 1;
    flex-direction: column;
    border-radius: 50px 50px 0 0;
    width: 100%;
    margin-bottom: -70px;
    padding-bottom: 50px;
    background-color: $lightgrey;

    &__topheading {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 30px 10px 0px 10px;
        align-items: center;
        justify-content: space-around;



        h1 {
            font-size: 25px;
            font-family: 'Shrikhand', cursive;
            font-weight: 900;
            margin: unset;
        }

        i {
            font-size: 25px;


        }
    }



    .list-menu {
        display: flex;
        flex-direction: column;
        width: 95%;
        padding-bottom: 50px;

        &__underline {
            border-bottom: 3px solid $colour-tertiary;
            height: 30px;
            margin-bottom: 20px;
            width: 42px;

            h2 {
                font-size: 18px;
                color: black;
                font-weight: 300;
                text-align: left;
                margin: 40px 0;
                text-transform: uppercase;


            }
        }

        h3 {
            font-size: 18px;
            color: black;
            font-weight: 400;

        }



    }

}

@media screen and (min-width: 992px) {
    .background-menu {
        height: 500px;
    }

    .container-menu {
        width: 100%;
        margin-bottom: 50px;
        border-radius: 50px 50px 0 0;
        background: linear-gradient($lightgrey, white)
    }
}