.background-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    object-fit: contain;


}

    .list-menu {
        display: flex;
        flex-direction: column;
        width: 95%;
        padding-bottom: 50px;

        &__underline {
            border-bottom: 3px solid $colour-tertiary;
            height: 30px;
            margin-bottom: 20px;
            width: 42px;

            h2 {
                font-size: 18px;
                color: black;
                font-weight: 300;
                text-align: left;
                margin: 40px 0;
                text-transform: uppercase;


            }
        }

       



    }



@media screen and (min-width: 992px) {
    .background-menu {
        height: 500px;
    }

    
    
}