.vignette{
   width: 85%;
   padding: 0px 0 0 0px ;
   border-radius: 20px;
   background-color: $white;
   margin-top: 20px;
   @include shadow;
   margin-left: auto;
   margin-right: auto;
   cursor: pointer;
   animation:fadein 2000ms;
   animation-fill-mode: forwards;
    &__image {
        position: relative;
        margin: 0px;
        height: 180px;
        @include img-ratio;
        
    }
    &__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px;
        
    }
    &__heading {
        font-size: 2rem;
        font-weight: 600;
    }
    &__heading-resto {
        float: left;
        
    }
    &__byline {
        font-size: 2rem;
    }
    &__icon {
        float: right;
        height: 100%;
        padding-right: 20px;
    }
    &__bandeau {
        position: absolute;
        top: 5px;
        left: 245px;
        margin-right: 25px;
        margin-top: 15px;
        background-color: $colour-tertiary;
        font-size: 1.66rem;
        width: 30%;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        color: darken($colour-tertiary, $amount: 60);
        font-weight: 700;
    }
   
  
}
.fa-regular {
    position: relative;
    z-index: 1;
    opacity:1;
    font-size: 30px;
    transition: opacity 350ms;

    &:hover{
        & .fa-solid{
            opacity: 1;
        }
       
    }
}
.fa-solid {
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    font-size: 30px;
    transition: opacity 350ms;
    background: linear-gradient($colour-secondary, $colour-primary);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}
@keyframes fadein {
    0% {
    opacity: 0;
    
    }
    50% {
    opacity: 0;
   
    }
    100% {
    opacity: 1;
    }
    }