.vignette{
   width: 90%;
   padding: 0px 0 0 0px ;
   border-radius: 20px;
   background-color: $white;
   margin-top: 20px;
   box-shadow: 2px 2px 10px 2px $grey;
   margin-left: auto;
   margin-right: auto;
    &__image {
        margin: 0;
        height: 180px;
        overflow: hidden;
        @include img-ratio;
        
    }
    &__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        
    }
    &__heading {
        font-size: 2rem;
    }
    &__heading-resto {
        float: left;
        
    }
    &__byline {
        font-size: 1.66rem;
    }
    &__icon {
        float: right;
        height: 100%;
        padding-right: 20px;
    }
    &__bandeau {
        float: right;
        top: 20px;
        background-color: $colour-tertiary;
        font-size: 1.66rem;
        width: 30%;
        text-align: center;
        border-radius: 2px;
        padding: 5px;
       
    }
  
}