.vignette{
   width: 90%;
   padding: 0px 0 0 0px ;
   border-radius: 20px;
   background-color: $white;
   margin-top: 20px;
   @include shadow;
   margin-left: auto;
   margin-right: auto;
    &__image {
        margin: 0px;
        height: 180px;
        @include img-ratio;
        
    }
    &__info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px;
        
    }
    &__heading {
        font-size: 2rem;
        font-weight: 600;
    }
    &__heading-resto {
        float: left;
        
    }
    &__byline {
        font-size: 2rem;
    }
    &__icon {
        float: right;
        height: 100%;
        padding-right: 20px;
    }
    &__bandeau {
        float: right;
        margin-right: 15px;
        margin-top: -15px;
        background-color: $colour-tertiary;
        font-size: 1.66rem;
        width: 30%;
        text-align: center;
        border-radius: 5px;
        @include shadow;
        padding: 5px;
       
    }
  
}