$colour-primary: #9356DC ;
$colour-secondary: #FF79DA;
$colour-tertiary: #D6FFF5;
$white: white;
$black: #000;
$grey: #e5e8e8;
$darkgrey: #353535;
$lightgrey: #f7f7f7;

$margin-top: 20px;
$layout-padding: 10px 5px;
